/* ubuntu-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/ubuntu-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/ubuntu-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/ubuntu-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/ubuntu-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/ubuntu-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/ubuntu-v20-latin-regular.svg#Ubuntu") format("svg"); /* Legacy iOS */
}
/* ubuntu-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/ubuntu-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: url("./fonts/ubuntu-v20-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/ubuntu-v20-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/ubuntu-v20-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/ubuntu-v20-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/ubuntu-v20-latin-700.svg#Ubuntu")
      format("svg"); /* Legacy iOS */
}

.body {
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  width: 60%;
  margin: 1.5% auto 0 auto;
}

.main-header {
  font-size: 3em;
  margin: 0 0 2% 2%;
}

.accordion-block {
  border-radius: 0.6em;
  cursor: pointer;
  overflow: hidden;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  border-bottom: 0.15em solid rgb(255, 255, 255);
}

.accordion-item-label {
  background-color: rgb(162, 145, 180);
  display: grid;
  grid-template-areas: "text icon" "meme meme";
  cursor: pointer;
  padding: 0 2% 0 2%;
}

.meme-pic {
  grid-area: meme;
  height: 0;
  margin: auto;
  justify-self: center;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-item-input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  width: 0;
  height: 0;
}

.accordion-item-text {
  grid-area: text;
  font-size: 1.5em;
  line-height: 0.5;
  margin: 0.8em 0 0.8em 0;
}

.accordion-item-icon {
  grid-area: icon;
  height: 1.3em;
  width: 1.3em;
  margin: 0.8em 2% 0.8em auto;
  opacity: 0;
  transition: 0.3s;
}

.accordion-item-label:has(.accordion-item-input:checked) {
  background: linear-gradient(0deg, transparent 90%, rgba(72, 64, 80, 1) 90%);
  color: #fafafa;
  font-weight: 700;
}

.accordion-item-input:checked ~ .meme-pic {
  height: 90.5%;
  padding: 1.3em 0;
}

.accordion-item-input:checked ~ .accordion-item-icon {
  opacity: 1;
  transform: rotate(135deg);
  transition: 0.5s;
}

.accordion-item-label:focus-within .accordion-item-text {
  color: #fafafa;
  font-weight: 700;
}

.accordion-item-label:focus-within .accordion-item-icon {
  transform: rotate(135deg);
  opacity: 1;
}

@media (hover: hover) {
  .accordion-item-label:has(.accordion-item-input:checked):hover {
    background: linear-gradient(0deg, transparent 90%, rgba(72, 64, 80, 1) 90%);
  }

  .accordion-block:hover
    .accordion-item-label:not(
      .accordion-item-label:has(.accordion-item-input:checked)
    ):not(.accordion-item:hover .accordion-item-label) {
    background-color: rgb(72, 64, 80);
  }

  .accordion-block:hover .accordion-item-label {
    color: #fafafa;
    font-weight: 700;
    transition: 0.3s;
  }

  .accordion-block:hover .accordion-item-icon {
    opacity: 1;
    transition: 0.3s;
  }

  .accordion-item:hover .accordion-item-icon {
    transform: rotate(135deg);
    transition: 0.5s;
  }

  .accordion-item:hover .accordion-item-label {
    background: linear-gradient(0deg, transparent 90%, rgba(72, 64, 80, 1) 90%);
  }

  .accordion-item:hover .meme-pic {
    height: 90.5%;
    padding: 1.3em 0;
    transition: 0.3s;
  }
}
